body {
    padding-top: 60px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    font-size: 0;
}

.top {
    height: 200px;
    width: 50%;
    display: inline-block;
}

.top-one {
    border: 1px solid black;
    background-color: green;
}

.top-two {
    border: 1px solid black;
    background-color: blue;
}

.bot {
    height: 300px;
    width: 33.33%;
    display: inline-block;
}

.bot-one {
    border: 1px solid black;
    background-color: grey;
}

.bot-two {
    border: 1px solid black;
    background-color: black;
}

.bot-three {
    border: 1px solid black;
    background-color: chocolate;
}